html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: white;
}

#root {
  padding-top: 100px;
}

#root svg {
  height: 500px;
  //background: #272a33;
  //background: #e6dfda;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background: #FAFAFA;
  shape-rendering: crispEdges;
  
  &:hover {
    cursor: move;
  }
}

rect {
  fill: #364651;
  fill: #dd80b8;
  fill: #f7b4bf;
  fill: white;
  fill: #1e2c47;
  fill: #222;
  fill: #888;

  //fill: none;
  //stroke: black;
}

